@<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
   
}
.img-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(148, 180, 162, 0);
}
.img-wrapper img{
    margin: 0;
    padding: 0;
    background-color: #18B4AB;
    width: 50%;
    height: 100%;
    object-fit: cover;
    animation: zoom 2s;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.login{
    position: absolute;
    top: 10%;
    right: 15%;
    animation: sobelogin 2s;
  
}
@keyframes sobelogin{
    0%{
        transform: translateY(60rem) rotateY(-30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0); opacity: 1;
    }
}
.login h1{
    color: #131415 ;
    font-size: 2.5rem;
    font-family: "Montserrat:", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .2);
    animation: sobelogin 2s 0,4ms forwards;
}
.login h3{
    color: #131415 ;
    font-size: 1.5rem;
    font-family: "Montserrat:", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .2);
    animation: sobelogin 2s 0,6ms forwards;
}

.login p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: slategray;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
    animation: sobelogin 2s 0,6ms forwards;
}
.login button{
    font-family:"Montserrat:", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color:rgb(255, 255, 255);
    padding:  1rem 8rem;
    background: #18B4AB;   /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #18B4AB, #18B4AB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #18B4AB, #18B4AB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    border-color: #18B4AB;
    cursor: pointer;
    animation: sobelogin 2s 0,9ms forwards;
}
.login button :hover{
    color: #000;
}
.input-group{
    color: #131415 ;
    font-size: 1.5rem;
    font-family: "Montserrat:", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .2);}
}
.input-group a{
    color: #131415 ;
    font-size: 2rem;
    font-family: "Montserrat:", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 200;
}
}
